body {
  font-family: "Roboto", sans-serif;
}
.main-rectangle {
  border: 1px solid black;
  width: 600px;
  height: 435px;
  box-sizing: border-box;
  background-color: wheat;
}
.search-area {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.search-field {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 15px;
  padding-left: 12px;
  background-color: wheat;
}
.search-button {
  border: none;
  background-color: wheat;
  cursor: pointer;
}
.search-icon {
  height: 22px;
  width: 22px;
}
.middle {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.left {
  height: 400px;
  width: 298.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
}
.ul {
  padding-left: 0px;
}
.temperature {
  font-size: 70px;
  margin-top: 0px;
  margin-left: 23px;
  margin-bottom: 0px;
  display: flex;
}
.t {
  padding-left: 40px;
}
.degree {
  width: 13px;
  height: 13px;
  padding-top: 17px;
}
.cloud-field {
  align-self: center;
  margin-top: -50px;
}
.cloud {
  width: 200px;
  height: 200px;
}
.fav-city-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}
.fav-city-name {
  padding-left: 20px;
  margin: 0;
}
.fav {
  border: none;
  background-color: wheat;
  cursor: pointer;
  height: min-content;
  width: min-content;
}

.favorite {
  width: 22px;
  height: 22px;
  padding-right: 20px;
}

.section-buttons-field {
  border-top: 1px solid black;
  display: flex;
  align-self: flex-end;
  width: 100%;
}
.now-btn {
  width: 34%;
  height: 44px;
  background-color: wheat;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 0px;
  border-right: 1px solid black;
}
.details-btn {
  width: 34%;
  background-color: wheat;
  color: rgb(0, 0, 0);
  border: 0px;
  border-right: 1px solid black;
  cursor: pointer;
}
.href {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.main-page {
  height: 355px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.forecast-btn {
  width: 34%;
  background-color: wheat;
  border: 0px;
  cursor: pointer;
  border-right: 0px;
}
.now-btn:hover,
.forecast-btn:hover,
.details-btn:hover {
  background-color: rgb(252, 173, 27);
}
.now-btn:active,
.forecast-btn:active,
.details-btn:active {
  text-decoration: underline;
  background-color: rgb(240, 223, 191);
}

.tabs-content {
  height: 355px;
  width: 298.5px;
  overflow: hidden;
}
/* .tabs-content ul li {
  height: 355px;
  width: 200px;
} */
li {
  list-style-type: none;
}
.weather-info {
  list-style-type: none;
  height: 355px;
  width: 298.5px;
  padding-left: 40px;
  line-height: 45px;
}
.city-details-name,
.city-forecast-name {
  margin-top: 50px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}
/* RIGHT SECTION */
.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* height: 300px; */
}
.added {
  border-bottom: 1px solid black;
  font-size: 24px;
  /* height: 28px; */
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin: 0px;
  cursor: default;
}
.info {
  margin: 0px;
  font-size: 24px;
  list-style-type: none;
  cursor: default;
}
.favorite-city {
  font-size: 24px;
  margin-bottom: 17px;
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorite-city:hover {
  text-decoration: underline;
  color: rgb(99, 99, 99);
}
.delete-fav-city {
  background-color: rgb(250, 75, 75);
  border: 0px solid black;
  border-radius: 6px;
  margin-right: 10px;
  height: 15px;
  width: 20px;
}
.delete-fav-city:hover {
  background-color: rgb(252, 0, 0);
  cursor: pointer;
}

/* RIGHT SECTION */
.more-weather-info {
  width: 265px;
  height: 120px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.more-weather-info-field {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 300px;
}
.date-and-time {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
}

.date-and-time > p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.feels-like-and-temperature > p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}
.main-details-about-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather {
  width: 50px;
  height: 50px;
}

.downfall > p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
}
